<div id="showChats" class="row justify-content-center">
		<ul class="list-group col-sm-3 mt-5 p-5 border border-dark rounded-sm">
		<h1 class="list-group-item-heading">All Chats</h1>
		{{#each chats}}
			<a href="/chat/{{this.cName}}" class="list-group-item list-group-item-action">{{this.cName}}</a>
		{{/each}}
		</ul>
</div>