<div class="container">
	<div id="showChats" class="row justify-content-center">
		<div class="col-sm-12 mt-5 p-5 border-sm rounded-lg shadow-lg text-center whiteBGcolor">
			<ul class="list-group">
				<h1 class="list-group-item-heading mb-5">Visit a Chat</h1>
				<div class="row">
				{{#each chats}}
					<div class="col-md-4">
						<a href="/chat/{{this.cName}}" class="list-group-item list-group-item-action">{{this.cName}}</a>
					</div>
				{{/each}}
				</div>
			</ul>
			<div class="mt-5 mb-2">Can't find a specific chat? Search for it here:</div>
			<form method="" action="">
				<div class="form-group justify-content-center row no-gutters">
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Search for a Chat" name="cName" autocomplete="off">
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary w-75">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>