<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/bootstrap4-neon-glow.css" type="text/css">
		<title>What Chat</title>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-left">
			<div class="form-inline">
				<div class="button-toolbar">
					<img src="/img/logo.png" class="navbar-brand" height="50" class="d-inline-block align-top" alt="">
					<a href="/chat"><button type="button" class="btn btn-dark ml-1 mr-1">View Chats</button></a>
					<a href="/make"><button type="button" class="btn btn-dark ml-1 mr-1">Make Chat</button></a>
				</div>
			</div>
		</nav>
	</head>
	<body>
		{{{body}}}
	</body>
</html>