body{
	background-color: #f2f2f2;
}

.whiteBGcolor{
	background-color: white;
}

.fullHeight{
	height: 80vh;
}

.msgName{
	font-weight: bold;
	float: left;
	margin-right: 5px;
}

.msgTime{
	font-weight: lighter;
}